@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
html,body {
    font-family:'Spoqa Han Sans Neo', 'sans-serif';
    -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
    background-color: #F2F1F0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }

ul, li{ margin:0; padding:0; list-style:none; }


/* header */
.head_all {
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(242, 241, 240, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    padding: 0 7%;
    backdrop-filter: blur(2px);
  }
  
  hgroup {
    width: 20%;
  }
  
  hgroup h1 {
    width: 50%;
    float: left;
    margin: 0;
  }  
  hgroup h1 img {
    max-width: 100%;
  }
  
  .pc_menu {
    width: 100%;
  }

  .pc_menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pc_menu .menu_p{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .pc_menu .menu_p a {
    font-size: 1.1rem;
    font-weight: 200;
    color: #818181;
    transition: all 0.3s ease-in-out;
  }
  .pc_menu .menu_p a:hover {
    color: #1a1a1a;
    font-weight: bold;
  }
  
  .pc_menu .menu_icon {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .pc_menu .menu_icon img {
    max-width: 65%;
  }
  
  /* 햄버거메뉴 */
.m_menu_button {
  cursor: pointer;
  z-index: 999;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #1a1a1a;
  margin: 10px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 9px);
  background-color: #000
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: #000;
  z-index: 9999 !important;
}

.m_menu_button i {
  color: #fff;
}

.m_menu {
  display: none;
  position: fixed;
  right: -300px;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, .5);
  text-align: center;
  padding: 10% 6%;
  z-index: 900;
}

.m_menu ul {
  width: 100%;
  text-align: left;
}

.m_menu ul li {
  margin-bottom: 20%;
}

.m_menu ul li:last-child {
  margin-bottom: 0 !important;
}

.m_menu ul li a {
  font-size: 1.6em;
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.m_menu ul li a:hover {
  color: #FF002B;
}

.m_menu_down {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: #b8a1f8;
  padding: 7%;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, .5);
}

.m_menu_down_wrap {
  width: 100%;
}

.m_menu_down_wrap ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.m_menu_down_wrap ul li i {
  transition: all .3s;
}

.m_menu_down_wrap ul li a:hover>i {
  color: #fff;
}

.m_menu ul li a.mafia,
.m_menu ul li a.mafia_en {
  position: relative;
}

.m_menu ul li a.mafia::after {
  content: '준비중입니다.';
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  font-size: .5rem;
  color: #FF002b;
  top: 5px;
  left: 105%;
  transition: .3s;
}

.m_menu ul li a.mafia_en::before {
  content: 'Service is being prepared.';
  position: absolute;
  display: none;
  width: 130%;
  height: 100%;
  font-size: .5rem;
  color: #FF002b;
  top: 5px;
  left: 105%;
  transition: .3s;
}

.m_menu ul li a.mafia:hover::after {
  display: block;
}

.m_menu ul li a.mafia_en:hover::before {
  display: block;
}



.m_menu ul li.lang a {
  margin-right: 5%;
}

/* products */
#products {
    width: 100%;
    height: 100vh;
    position: relative;
}
#products::before {
    content: '';
    position: absolute;
    width: 67%;
    height: 60%;
    bottom: 0;
    right: 0;
    background: url(../media/Main_item.png) no-repeat right bottom;
    background-size: contain;
    filter: blur(1px);
    opacity: 0.6;
}
#products::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: -4%;
  left: 0;
  background: url(../media/Main_img.png) no-repeat center bottom;
  background-size: cover;
}
.products_wrap {
    width: 100%;
    padding: 100px 0;
    position: relative;
}
.products_txt {
    padding: 2% 0 0 10%;
    z-index: 10;
}
.products_txt h1 {
    font-size: 7rem;
    font-weight: bold;
    color: #665BA3;
}
.products_txt .prd_txt {
    display: flex;
}
.products_txt .prd_txt h3 {
    margin: 0.3% 0 0 0.3%;
    font-size: 2.5rem;
    font-weight: 600;
    color: #5e5e5e;
}

.products_txt .prd_txt h3.prd_1, .products_txt .prd_txt h3.prd_2 {
  transition: all 0.3s ease-in-out;
}
.products_txt .prd_txt h3.prd_1:hover, .products_txt .prd_txt h3.prd_2:hover {
  color: #9582ff;
  text-shadow: 0px 1px 5px rgba(112, 81, 161, 0.35);
}

/* About */
#about {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(107.56deg, #292828 0%, #161617 100%);
}
#about::before {
  content: '';
  position: absolute;
  width: 92%;
  height: 92%;
  bottom: 0;
  right: 0;
  background: url(../media/sub1_img.png) no-repeat right bottom;
  background-size: contain;
}
.about_wrap {
  width: 100%;
  padding: 100px 0;
  position: relative;
}
.about_info {
  width: 100%;
  margin-top: 7%;
  padding: 0 0 0 11%;
  color: #fff;
}
.about_info .about_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.about_info .about_title h2 {
  font-weight: 100;
  font-size: 5.5rem;
  margin-right: 1%;
}
.about_info .about_title h1 {
  font-weight: bold;
  font-size: 6rem;
}
.about_info h5 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.5%;
}
.about_info p {
  font-weight: 100;
  margin-bottom: 1.3%;
  line-height: 165%;
}
.about_info button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 0.7% 3%;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about_info button:hover {
  background: #9582ff;
}

/* Overview */
#overview {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.overview_wrap {
  width: 100%;
  padding: 9% 0 10% 0;
}
.overview_img img {
  max-width: 100%;
}
.overview_txt {
  margin-top: 2%;
}
.overview_txt h5 {
  color: #494949;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.2%;
}
.overview_txt h2 {
  color: #665BA3;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5%;
}
.overview_txt p {
  color: #222222;
  font-weight: 300;
  margin-bottom: 1.3%;
  line-height: 165%;
}
.overview_wrap button {
  background: #232223;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 0.7% 3%;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.overview_wrap button:hover {
  background: #9582ff;
}


/* sub_end */
#sub_end {
  width: 100%;
  height: 70vh;
  margin-top: 10%;
  position: relative;
  overflow: hidden;
}
.end_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.end_wrap img {
  max-width: 40%;
  position: absolute;
  bottom: -1px;
}

/* footer */
footer {
  background-color: #292828;
    width: 100%;
    padding: 60px 5%;
    color: #aaaaaa;
}
footer p {
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 165%;
}
.footer_icon{
  width: 100%;
  margin-bottom: 1.3%;
  display: flex;
  justify-content: flex-start;
}
.footer_icon img {
  margin-right: 1%;
  cursor: pointer;
}
.footer_info {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
}
.footer_info p.hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer_info p.hover:hover {
  color: #c9c9c9;
}